<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <div class="row mt-1 mb-1">
    <a th:href="@{/logout}" class="btn btn-info">
      <span class="glyphicon glyphicon-log-out"></span>Log out
    </a>
  </div>
  <div class="row">
    <table class="table" th:object="${userDetails}">
      <thead></thead>
      <tbody>
      <tr>
        <th>username</th>
        <td th:text="*{username}"></td>
      </tr>
      <tr>
        <th>password</th>
        <td th:text="*{password}"></td>
      </tr>
      <tr>
        <th>authorities</th>
        <td th:text="*{authorities}"></td>
      </tr>
      <tr>
        <th>enabled</th>
        <td th:text="*{enabled}"></td>
      </tr>
      <tr>
        <th>accountNonExpired</th>
        <td th:text="*{accountNonExpired}"></td>
      </tr>
      <tr>
        <th>accountNonLocked</th>
        <td th:text="*{accountNonLocked}"></td>
      </tr>
      <tr>
        <th>credentialsNonExpired</th>
        <td th:text="*{credentialsNonExpired}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <table class="table" sec:authorize="isAuthenticated()">
      <thead>sec:authentication</thead>
      <tbody>
      <tr>
        <th>username</th>
        <td sec:authentication="principal.username"></td>
      </tr>
      <tr>
        <th>password</th>
        <td sec:authentication="principal.password"></td>
      </tr>
      <tr>
        <th>authorities</th>
        <td sec:authentication="principal.authorities"></td>
      </tr>
      <tr>
        <th>enabled</th>
        <td sec:authentication="principal.enabled"></td>
      </tr>
      <tr>
        <th>accountNonExpired</th>
        <td sec:authentication="principal.accountNonExpired"></td>
      </tr>
      <tr>
        <th>accountNonLocked</th>
        <td sec:authentication="principal.accountNonLocked"></td>
      </tr>
      <tr>
        <th>credentialsNonExpired</th>
        <td sec:authentication="principal.credentialsNonExpired"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
