<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <div class="row mt-3">
    <div class="col">
      <button class="btn btn-primary" id="connect">Connect</button>
    </div>
    <div class="col">
      <button class="btn btn-secondary" id="disconnect" disabled="disabled">Disconnect</button>
    </div>
  </div>

  <div>
    <div class="form-group">
      <label>name</label>
      <input type="text" class="form-control" id="username" placeholder="your name" />
    </div>
    <form id="form">
      <label>message</label>
      <input type="text" class="form-control" id="message" placeholder="message" />
    </form>
  </div>

  <div>
    <div class="panel">
      <div id="errorMessage"></div>
    </div>
    <div class="panel">
      <div id="response"></div>
    </div>
  </div>
</div>
<div id="room" th:data-room-id="${roomId}"></div>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
