<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <table class="table">
    <tr>
      <th>name</th>
      <th>message</th>
    </tr>

    <tr>
      <td th:text="${componentBean.name}"></td>
      <td th:text="${componentBean.message}"></td>
    </tr>
    <tr>
      <td th:text="${foo.name}"></td>
      <td th:text="${foo.message}"></td>
    </tr>
    <tr>
      <td th:text="${bar.name}"></td>
      <td th:text="${bar.message}"></td>
    </tr>
    <tr>
      <td th:text="${baz.name}"></td>
      <td th:text="${baz.message}"></td>
    </tr>
    <tr th:if="${qux}">
      <td th:text="${qux.name}"></td>
      <td th:text="${qux.message}"></td>
    </tr>

  </table>
</div>

</body>
</html>
