<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>complete</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <h3>session attribute</h3>
  <table class="table" th:object="${account}">
    <tr>
      <th>id</th>
      <td th:text="*{id}"></td>
    </tr>
    <tr>
      <th>name</th>
      <td th:text="*{name}"></td>
    </tr>
    <tr>
      <th>email</th>
      <td th:text="*{email}"></td>
    </tr>
  </table>
</div>
</body>
</html>
