<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>message source</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <h3>MessageSource test</h3>
  <table class="table">
    <tr>
      <td>テンプレートからkeyを直接指定</td>
      <td th:text="#{message1(#{args1})}"></td>
      <td th:text="#{message2(#{args1})}"></td>
      <td>
        <span th:if="${#messages.msgOrNull('message3')}" th:text="#{message3}"></span>
      </td>
    </tr>
    <tr>
      <td>Controllerから文字列を渡す</td>
      <td th:text="${message1_1}"></td>
      <td th:text="${message1_2}"></td>
      <td th:text="${message1_3}"></td>
    </tr>
    <tr>
      <td>DefaultMessageSourceResolvableを使用</td>
      <td th:text="${message2_1}"></td>
      <td th:text="${message2_2}"></td>
      <td th:text="${message2_3}"></td>
    </tr>
  </table>
</div>

</body>
</html>
