<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>home</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <div class="row mt-3">
    <a sec:authorize="hasRole(T(com.example.web.Role).ADMIN.name())" th:href="@{/admin1}" class="btn btn-primary">admin1</a>
    <a sec:authorize="hasRole(T(com.example.web.Role).ADMIN.name())" th:href="@{/admin2}" class="btn btn-primary">admin2</a>
    <a th:href="@{/logout}" class="btn btn-secondary">logout</a>
  </div>
  <table class="table" sec:authorize="isAuthenticated()">
    <tr>
      <td>userDetails</td>
      <td th:text="${userDetails}"></td>
    </tr>
    <tr>
      <td>grantedAuthorities</td>
      <td th:text="${grantedAuthorities}"></td>
    </tr>
  </table>
</div>
</body>
</html>
