<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>OAuth2</title>
</head>
<body>
<div class="container">
  <div sec:authorize="!isAuthenticated()">
    <div>
      <a href="/oauth2/authorization/github">Authorize</a>
    </div>
  </div>
  <div sec:authorize="isAuthenticated()">
    <div>
      <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
      </form>
    </div>
    <div>
      <span>Name: </span><span sec:authentication="name"></span>
    </div>
    <div>
      <span>Attributes:</span>
      <ul>
        <li th:each="attribute : ${userAttributes}">
          <span style="font-weight:bold" th:text="${attribute.key}"></span>:
          <span th:text="${attribute.value}"></span>
        </li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
