<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>name</th>
      <th>message</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:if="${demoComponent}">
      <td th:text="${demoComponent.name}"></td>
      <td th:text="${demoComponent.message}"></td>
    </tr>
    <tr th:if="${demoBean}">
      <td th:text="${demoBean.name}"></td>
      <td th:text="${demoBean.message}"></td>
    </tr>
    <tr th:if="${lazyBean}">
      <td th:text="${lazyBean.name}"></td>
      <td th:text="${lazyBean.message}"></td>
    </tr>
    <tr th:if="${demoBean1}">
      <td th:text="${demoBean1.name}"></td>
      <td th:text="${demoBean1.message}"></td>
    </tr>
    <tr th:if="${demoBean2}">
      <td th:text="${demoBean2.name}"></td>
      <td th:text="${demoBean2.message}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
