<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <h1>properties</h1>
  <table class="table">
    <thead>
    <tr>
      <th class="col-md-4">type</th>
      <th class="col-md-4">key</th>
      <th class="col-md-4">value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${type}"></td>
      <td>string1</td>
      <td th:text="${str1}"></td>
    </tr>
    <tr>
      <td th:text="${type}"></td>
      <td>string2</td>
      <td th:text="${str2}"></td>
    </tr>
    <tr>
      <td th:text="${type}"></td>
      <td>number1</td>
      <td th:text="${number1}"></td>
    </tr>
    <tr>
      <td th:text="${type}"></td>
      <td>number2</td>
      <td th:text="${number2}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
