<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <h3>redirect attribute</h3>
  <form th:object="${account}" th:action="${''}" method="post">
    <table class="table">
      <tr>
        <th>id</th>
        <td><input type="text" th:field="*{id}" /></td>
      </tr>
      <tr>
        <th>name</th>
        <td><input type="text" th:field="*{name}" /></td>
      </tr>
      <tr>
        <th>email</th>
        <td><input type="text" th:field="*{email}" /></td>
      </tr>
    </table>
    <input class="btn btn-primary" type="submit" value="submit" />
  </form>
</div>
</body>
</html>
