<?xml version="1.0" encoding="UTF-8"?>
<!--
https://github.com/spring-projects/spring-boot/blob/v2.4.3/spring-boot-project/spring-boot/src/main/resources/org/springframework/boot/logging/logback/base.xml
-->
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
  <property name="LOG_FILE" value="${LOG_PATH}/${LOG_FILE}" />

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

  <springProfile name="dev">
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <root level="INFO">
      <appender-ref ref="FILE" />
    </root>
  </springProfile>
</configuration>
