<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <div class="well">
    <button id="connect">Connect</button>
    <button id="disconnect" disabled="disabled">Disconnect</button>
  </div>
  <div class="well">
    <input type="text" id="name" placeholder="Your Name" />
    <button id="sendName" disabled="disabled">Send</button>
    <input type="text" id="message" placeholder="message" />
    <button id="sendMessage" disabled="disabled">Send</button>
  </div>
  <div class="panel">
    <div id="response"></div>
  </div>
</div>
</body>
<script th:src="@{/stomp.js}" src="/stomp.js"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var HelloStomp = function () {
    this.connectButton = document.getElementById('connect');
    this.disconnectButton = document.getElementById('disconnect');
    this.sendNameButton = document.getElementById('sendName');
    this.sendMessageButton = document.getElementById('sendMessage');

    this.connectButton.addEventListener('click', this.connect.bind(this));
    this.disconnectButton.addEventListener('click', this.disconnect.bind(this));
    this.sendNameButton.addEventListener('click', this.sendName.bind(this));
    this.sendMessageButton.addEventListener('click', this.sendMessage.bind(this));
  };

  /**
   * エンドポイントへの接続処理
   */
  HelloStomp.prototype.connect = function () {
    var socket = new WebSocket(/*[[${endpointUrl}]]*/);
    this.stompClient = Stomp.over(socket); // WebSocketを使ったStompクライアントを作成
    this.stompClient.connect({}, this.onConnected.bind(this)); // エンドポイントに接続し、接続した際のコールバックを登録
  };

  /**
   * エンドポイントへ接続したときの処理
   */
  HelloStomp.prototype.onConnected = function (frame) {
    console.log('Connected: ' + frame);
    // メッセージを購読し、コールバック処理を登録
    this.stompClient.subscribe(/*[[${subscribe1}]]*/, this.onSubscribe.bind(this));
    this.stompClient.subscribe(/*[[${subscribe2}]]*/, this.onSubscribe.bind(this));
    this.stompClient.subscribe(/*[[${subscribe3}]]*/, this.onSubscribe.bind(this));
    this.setConnected(true);
  };

  /**
   * subscribeしたメッセージを受信したときの処理
   */
  HelloStomp.prototype.onSubscribe = function (message) {
    var response = document.getElementById('response');
    var p = document.createElement('p');
    p.appendChild(document.createTextNode(message.body));
    response.insertBefore(p, response.children[0]);
  };

  /**
   * メッセージ送信処理
   */
  HelloStomp.prototype.sendName = function () {
    var name = document.getElementById('name').value;
    this.stompClient.send(/*[[${greetingsPath}]]*/, {}, name);
  };

  HelloStomp.prototype.sendMessage = function () {
    var message = document.getElementById('message').value;
    this.stompClient.send(/*[[${messagePath}]]*/, {}, message);
  };

  HelloStomp.prototype.disconnect = function () {
    if (this.stompClient) {
      this.stompClient.disconnect();
      this.stompClient = null;
    }
    this.setConnected(false);
  };

  HelloStomp.prototype.setConnected = function (connected) {
    this.connectButton.disabled = connected;
    this.disconnectButton.disabled = !connected;
    this.sendNameButton.disabled = !connected;
    this.sendMessageButton.disabled = !connected;
  };

  new HelloStomp();
  /*]]>*/
</script>
</html>
