<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>form sample</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <h3>formatter test</h3>
  <table class="table">
    <tr>
      <th>male</th>
      <td th:text="${{male}}"></td>
      <td th:text="${male}"></td>
    </tr>
    <tr>
      <th>female</th>
      <td th:text="${{female}}"></td>
      <td th:text="${female}"></td>
    </tr>
  </table>
</div>

</body>
</html>
