<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script src="index.js"></script>
</head>
<body>
<div class="container">
  <form id="form">
    <div>
      <label>last name</label>
      <input type="text" id="lastName" />
      <span id="lastNameError" style="color:red"></span>
    </div>
    <div>
      <label>first name</label>
      <input type="text" id="firstName" />
      <span id="firstNameError" style="color:red"></span>
    </div>
    <button type="submit">submit</button>
  </form>
</div>
</body>
</html>
