<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
  <sql id="selectUsers">
    SELECT `id`, `name`, `gender`, `blood`, `created_at`, `updated_at` FROM `user`
  </sql>

  <select id="findAll" resultType="com.example.entity.User">
    <include refid="selectUsers" />
  </select>

  <select id="findById" parameterType="long" resultType="com.example.entity.User">
    <include refid="selectUsers" />
    WHERE `id` = #{id}
  </select>

  <select id="findByIds" parameterType="java.util.List" resultType="com.example.entity.User">
    <include refid="selectUsers" />
    WHERE id IN
    <foreach item="id" index="index" collection="ids" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>
</mapper>
