<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <table class="table">
    <tr>
      <td>isNormal</td>
      <td th:text="${isNormal}"></td>
    </tr>
    <tr>
      <td>isMobile</td>
      <td th:text="${isMobile}"></td>
    </tr>
    <tr>
      <td>isTablet</td>
      <td th:text="${isTablet}"></td>
    </tr>
    <tr>
      <td>DevicePlatform</td>
      <td th:text="${DevicePlatform}"></td>
    </tr>
  </table>
</div>

</body>
</html>

