<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <h3>bean scope sample</h3>

  <div class="row">
    <table class="table">
      <tr>
        <td><a href="/">index</a></td>
      </tr>
      <tr>
        <td><a href="/page2">page2</a></td>
      </tr>
      <tr>
        <td><a href="/redirect">redirect</a></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <table class="table">
      <tr>
        <th>type</th>
        <th>id</th>
        <th>name</th>
        <th>count</th>
      </tr>
      <tr>
        <td>prototype</td>
        <td th:text="${prototypeBean.id}"></td>
        <td th:text="${prototypeBean.name}"></td>
        <td th:text="${prototypeBean.count}"></td>
      </tr>
      <tr>
        <td>request</td>
        <td th:text="${requestBean.id}"></td>
        <td th:text="${requestBean.name}"></td>
        <td th:text="${requestBean.count}"></td>
      </tr>
      <tr>
        <td>session</td>
        <td th:text="${sessionBean.id}"></td>
        <td th:text="${sessionBean.name}"></td>
        <td th:text="${sessionBean.count}"></td>
      </tr>
      <tr>
        <td>application</td>
        <td th:text="${appBean.id}"></td>
        <td th:text="${appBean.name}"></td>
        <td th:text="${appBean.count}"></td>
      </tr>
      <tr>
        <td>singleton</td>
        <td th:text="${singletonBean.id}"></td>
        <td th:text="${singletonBean.name}"></td>
        <td th:text="${singletonBean.count}"></td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>
