<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <div class="well">
    <p>
      <label for="status">status</label>
      <span id="status"></span>
    </p>
    <button class="btn btn-default" id="open">open</button>
    <button class="btn btn-default" id="close">close</button>
  </div>
  <div class="well">
    <div class="form-group">
      <p>
        <input type="text" class="form-control" id="message" />
      </p>
    </div>
    <button class="btn btn-default" id="send">Send</button>
  </div>
  <div class="panel">
    <div id="response"></div>
  </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript">
  $(function () {
    var ws = null;

    function onOpen() {
      $('#status').text('onopen');
      console.log('onopen');
    }

    function onClose() {
      $('#status').text('onclose');
      console.log('onclose');
    }

    function onMessage(message) {
      $('#status').text('onmessage');
      var p = document.createElement('p');
      p.textContent = message.data;
      $('#response').prepend(p);
      console.log('onmessage message=' + message.data);
    }

    function onError(event) {
      $('#status').text('onerror');
      console.log('onerror', event)
    }

    $('#open').on('click', function () {
      if (ws === null) {
        ws = new WebSocket('ws://localhost:8080/echo');
        ws.onopen = onOpen;
        ws.onmessage = onMessage;
        ws.onclose = onClose;
        ws.onerror = onError;
      }
    });

    $('#close').on('click', function () {
      if (ws !== null) {
        ws.close();
        ws = null;
      }
    });

    $('#send').on('click', function () {
      if (ws !== null) {
        var message = $('#message');
        if (message.val() !== "") {
          ws.send(message.val());
          message.val('');
        }
      }
    });
  });
</script>
</body>
</html>
