<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <h3>argument resolver</h3>
  <table class="table" th:object="${requestInfo}">
    <tr>
      <td>userAgent</td>
      <td th:text="*{userAgent}"></td>
    </tr>
    <tr>
      <td>locale</td>
      <td th:text="*{locale}"></td>
    </tr>
    <tr th:each="cookie : *{cookies}">
      <td th:text="${cookie.name}"></td>
      <td th:text="${cookie.value}"></td>
    </tr>
  </table>
</div>

</body>
</html>
