<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
      $('.clear-all').click(function () {
        $.ajax({
          type: "DELETE",
          url: "/account"
        });
      });

      $('.clear-one').click(function () {
        $.ajax({
          type: "DELETE",
          url: "/account/" + $(this).data("id")
        });
      });
      $('.put-one').click(function () {
        $.ajax({
          type: "PUT",
          url: "/account/" + $(this).data("id")
        });
      });
    });
    /*]]>*/
  </script>
</head>
<body>

<div class="container">
  <h1>cache sample</h1>

  <div th:if="${account}">
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
      <tr>
        <td th:text="${account.id}"></td>
        <td th:text="${account.name}"></td>
      </tr>
    </table>
    <button class="btn put-one"
            th:attr="data-id=${account.id}">キャッシュを変更
    </button>
    <button class="btn clear-one"
            th:attr="data-id=${account.id}">キャッシュクリア
    </button>
  </div>

  <div th:if="${accounts}">
    <table class="table">
      <tr>
        <th>id</th>
        <th>name</th>
      </tr>
      <tr th:object="${account}" th:each="account: ${accounts}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
      </tr>
    </table>
    <button class="btn clear-all">キャッシュクリア</button>
  </div>
</div>

</body>
</html>
