<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <title></title>
</head>
<body>
<table class="table" id="table">
  <tr>
    <th>timestamp</th>
    <td th:text="${timestamp}"></td>
  </tr>
  <tr>
    <th>path</th>
    <td th:text="${path}"></td>
  </tr>
  <tr>
    <th>status</th>
    <td th:text="${status}"></td>
  </tr>
  <tr>
    <th>error</th>
    <td th:text="${error}"></td>
  </tr>
  <tr>
    <th>message</th>
    <td th:text="${message}"></td>
  </tr>
  <tr>
    <th>exception</th>
    <td th:text="${exception}"></td>
  </tr>
  <tr th:if="${trace}">
    <th>trace</th>
    <td th:text="${trace}"></td>
  </tr>
</table>
</body>
</html>
