<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>admin</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <div class="row">
    <span>
      <a th:href="@{/}" class="btn btn-link">home</a>
      <a th:href="@{/logout}" class="btn btn-link">logout</a>
    </span>
  </div>
  <table class="table" sec:authorize="isAuthenticated()">
    <tr>
      <td>userDetails</td>
      <td th:text="${userDetails}"></td>
    </tr>
  </table>
</div>
</body>
</html>
