<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <div class="well">
    <button class="btn btn-default" id="connect">Connect</button>
    <button class="btn btn-default" id="disconnect" disabled="disabled">Disconnect</button>
  </div>
  <div class="well">
    <div class="form-group">
      <p>
        <input type="text" class="form-control" id="name" placeholder="your name" />
      </p>
      <p>
        <input type="text" class="form-control" id="message" placeholder="message" />
      </p>
    </div>
    <button class="btn btn-default" id="sendMessage" disabled="disabled">Send</button>
  </div>
  <div class="panel">
    <div id="response"></div>
  </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  $(function () {
    var stompClient = null;
    var endpointPath = /*[[${endpointUrl}]]*/;
    var subscribe = /*[[${subscribe}]]*/;
    var appSubscribe = /*[[${appSubscribe}]]*/;
    var appMessage = /*[[${appMessage}]]*/;

    function setConnected(connected) {
      $('#connect').prop('disabled', connected);
      $('#disconnect').prop('disabled', !connected);
      $('#sendMessage').prop('disabled', !connected);
    }

    $('#connect').on('click', function () {
      if (stompClient === null) {
        var socket = new WebSocket(endpointPath);
        // create stomp client
        stompClient = Stomp.over(socket);
        // connect
        stompClient.connect({}, function (frame) {
          console.log('connected: ' + frame);
          setConnected(true);
          // subscribe
          stompClient.subscribe(subscribe, function (message) {
            console.log('subscribe: ' + message);
            var p = document.createElement('p');
            p.textContent = message.body;
            $('#response').prepend(p);
          });
        });
      }
    });

    $('#sendMessage').on('click', function () {
      var message = $('#message');
      if (stompClient !== null && message.val() !== "") {
        var body = $('#name').val() + ' : ' + message.val();
        // SubscribeMappingのmethodで受信する場合
        stompClient.send(appSubscribe, {}, body);
        // MessageMappingのmethodで受信する場合
//        stompClient.send(appMessage, {}, body);
        // brokerに直接送信する場合
//        stompClient.send(subscribe, {}, body);
        message.val('');
      }
    });

    $('#disconnect').on('click', function () {
      if (stompClient !== null) {
        stompClient.disconnect();
        stompClient = null;
      }
      setConnected(false);
      console.log('disconnected:');
    });
  });
  /*]]>*/
</script>
</body>
</html>
