<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>validator</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <div class="row">
    <h3>profile</h3>
    <form th:action="@{''}" th:object="${form}" method="post">
      <table class="table">
        <thead></thead>
        <tbody>
        <tr>
          <td class="col-md-4">name</td>
          <td class="col-md-8">
            <input type="text" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                  class="alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>country code</td>
          <td>
            <input type="text" th:field="*{countryCode}" />
            <span th:if="${#fields.hasErrors('countryCode')}" th:errors="*{countryCode}"
                  class="alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>age</td>
          <td>
            <input type="text" th:field="*{age}" />
            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                  class="alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>email</td>
          <td>
            <input type="text" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                  class="alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>card number</td>
          <td>
            <input type="text" th:field="*{card}" />
            <span th:if="${#fields.hasErrors('card')}" th:errors="*{card}"
                  class="alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>address1</td>
          <td>
            <input type="text" th:field="*{address.address1}" />
            <span th:if="${#fields.hasErrors('address.address1')}" th:errors="*{address.address1}"
                  class="alert-danger"></span>
          </td>
        </tr>
        <tr>
          <td>address2</td>
          <td>
            <input type="text" th:field="*{address.address2}" />
            <span th:if="${#fields.hasErrors('address.address2')}" th:errors="*{address.address2}"
                  class="alert-danger"></span>
          </td>
        </tr>
        </tbody>
      </table>

      <input type="submit" value="submit" />
    </form>
  </div>
</div>

</body>
</html>
