<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>logged_in</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" />
</head>
<body>

<div class="container">
  <h1>logged in</h1>
  <p>
    <a th:href="@{/logout}" class="btn btn-default">logout</a>
  </p>

  <table class="table" sec:authorize="isAuthenticated()">
    <tr>
      <td>username</td>
      <td sec:authentication="principal.username"></td>
    </tr>
    <tr>
      <td>authorities</td>
      <td sec:authentication="principal.authorities"></td>
    </tr>
  </table>
</div>

</body>
</html>
