<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>facebook connect</title>
  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
  <h3>Facebook Connect</h3>

  <form th:action="@{/connect/facebook}" method="POST">
    <input type="hidden" name="scope" value="user_posts,user_photos" />
    <button type="submit" class="btn btn-default">Connect</button>
  </form>
</div>
</body>
</html>
