<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>login</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" href="//getbootstrap.com/examples/signin/signin.css" />
</head>
<body>
<div class="container">
  <form class="form-signin" method="post" th:action="@{/login_processing}">
    <h2 class="form-signin-heading">Sign in</h2>
    <div th:if="${param.error}" class="alert alert-danger">Invalid username or password</div>
    <input class="form-control" name="username" placeholder="username" required="required"
           autofocus="autofocus" />
    <input type="password" class="form-control" name="password" placeholder="password" required="required" />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
</body>
</html>
