<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <div class="row">
    <table class="table">
      <thead>
      </thead>
      <tbody>
      <tr>
        <td><a th:href="@{/profile}">user profile</a></td>
      </tr>
      <tr>
        <td><a th:href="@{/permissions}">user permissions</a></td>
      </tr>
      <tr>
        <td><a th:href="@{/albums}">albums</a></td>
      </tr>
      <tr>
        <td><a th:href="@{/friends}">friends</a></td>
      </tr>
      <tr>
        <td><a th:href="@{/friend_profiles}">friend profiles</a></td>
      </tr>
      <tr>
        <td><a th:href="@{/feeds}">feeds</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
