<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
      alert(/*[[${text}]]*/);
    });
    /*]]>*/
  </script>
</head>
<body>

<div class="container">
  <h3>thymeleaf sample</h3>

  <table class="table">
    <tr>
      <td>th:text</td>
      <td th:text="${text}"></td>
    </tr>
    <tr>
      <td>th:utext</td>
      <!--/* unescaped text */-->
      <td th:utext="${text}"></td>
    </tr>
    <tr>
      <td>th:inline</td>
      <!--/* [[...]]の中はinline処理される */-->
      <td th:inline="text">inline [[${text}]]</td>
    </tr>
    <tr>
      <td>@viewHelper.message</td>
      <!--/* DIコンテナに登録されているbeanを参照 */-->
      <td th:text="${@viewHelper.message}"></td>
    </tr>
    <tr>
      <td>T(com.example.ViewUtil).message</td>
      <!--/* DIコンテナに登録されていないstatic methodを参照 */-->
      <td th:text="${T(com.example.ViewUtil).message}"></td>
    </tr>
  </table>
</div>

</body>
</html>
