<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <div class="row">
    <a th:href="@{/logout}" class="btn btn-default">logout</a>
  </div>

  <div class="row">
    <table class="table" th:object="${account}">
      <tr>
        <td>id</td>
        <td th:text="*{id}"></td>
      </tr>
      <tr>
        <td>name</td>
        <td th:text="*{name}"></td>
      </tr>
      <tr>
        <td>password</td>
        <td th:text="*{password}"></td>
      </tr>
    </table>
  </div>
</div>

</body>
</html>
