<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>formatter</title>
  <meta charset="UTF-8" />
</head>
<body>
<div class="container">
  <table>
    <thead>
    <tr>
      <th>Formatter</th>
      <th>Normal</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${{gender}}"></td>
      <td th:text="${gender}"></td>
    </tr>
    <tr>
      <td th:text="${{datetime}}"></td>
      <td th:text="${datetime}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
