<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>

<div class="container">
  <label>Accounts</label>

  <table class="table">
    <tr>
      <th>totalElements</th>
      <td th:text="${page.totalElements}"></td>
    </tr>
    <tr>
      <th>totalPages</th>
      <td th:text="${page.totalPages}"></td>
    </tr>
    <tr>
      <th>size</th>
      <td th:text="${page.size}"></td>
    </tr>
  </table>

  <table class="table">
    <tr>
      <th>id</th>
      <th>name</th>
    </tr>
    <tr th:object="${account}" th:each="account: ${accounts}">
      <td th:text="*{id}"></td>
      <td th:text="*{name}"></td>
    </tr>
  </table>
</div>

</body>
</html>
