<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>index</title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th>name</th>
      <th>message</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${foo1.name}"></td>
      <td th:text="${foo1.message}"></td>
    </tr>
    <tr>
      <td th:text="${foo2.name}"></td>
      <td th:text="${foo2.message}"></td>
    </tr>
    <tr>
      <td th:text="${foo3.name}"></td>
      <td th:text="${foo3.message}"></td>
    </tr>
    <tr>
      <td th:text="${foo4.name}"></td>
      <td th:text="${foo4.message}"></td>
    </tr>
    <tr>
      <td th:text="${bar1.name}"></td>
      <td th:text="${bar1.message}"></td>
    </tr>
    <tr>
      <td th:text="${bar2.name}"></td>
      <td th:text="${bar2.message}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
